<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    <title>Random Go!!XD</title>
    <style>
      html {
        margin: 10vh 0 20vh 0;
      }

      li {
        width: 10em;
        margin: 0 35% 0 35%;
        font-size: 4vmin;
      }
      #list2 {
        margin: 5% 0 0 0;
      }
      p {
        width: 10em;
        margin: 0 35% 0 35%;
        font-size: 4vmin;
      }
    </style>
  </head>

  <body>
    <div id="randomGo">
      <ul id="list">
        <li v-for="item in randomList" :key="item.id">
          {{ item.message }}
        </li>
        <div id ="list2">
        <p v-for="item in resultList" :key="item.id">
          {{ item.message }}
        </p>
        </div>
        <v-flex xs12 sm6 md3 style="font-size: 4vmin;margin: 5% 35% 0 35%">
          <v-text-field
            label="Text"
            placeholder="来点啊噗噜派.."
            v-model="userGo"
            v-on:blur="addToList"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 sm6 md3 style="font-size: 4vmin;margin: 2% 35% 0 35%">
          <v-text-field
            label="Num"
            placeholder="1"
            v-model="count"
          ></v-text-field>
        </v-flex>
        <v-btn
          sm6
          outline
          color="indigo"
          v-on:click="showResult"
          style="margin: 0 35% 0 35%;
          font-size: 2vmin"
          >Finish</v-btn
        >
      </ul>
    </div>
  </body>
  <script src="main.js"></script>
</html>
